
.mdeditor {
  width: 100%;
  height: 100%;
}
.editfeild {
  width: 50%;
  height: 100%;
  float:left;
}
.mdpreviewer {
  width: 50%;
  height: 100%;
  background-color: #ff00ff;
  float: right;
}


bady {
  background-color: #ff00ff;
}
